{% extends 'layouts/auth_base.html.twig' %}

{% block page_title %}<h1>Connexion</h1>{% endblock %}

{% block content %}
<div class="col-md-6">
    <form class="form clearfix" method="POST">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                Mot de passe et/ou adresse mail non valide(s)!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Connecté(e) en tant que {{ app.user.lastname}} {{app.user.firstname }}. <br> <a href="{{ path('app_logout') }}">Me déconnecter?</a>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="email" class="col-form-label required">Email</label>
            <input name="email" type="email" class="form-control" value="" id="email" required autofocus>
        </div>
        <!--end form-group-->
        <div class="form-group">
            <label for="password" class="col-form-label required">Mot de passe</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
        <!--end form-group-->
        <div class="d-flex justify-content-between align-items-baseline">
            <label for="remember_me">
                <input type="checkbox" name="_remember_me" value="1">
                Se souvenir de moi
            </label>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>
    <hr>
    <div class="clearfix">
        <p class="float-left">
            Mot de passe oublié? <a href="{{path('forgotten_password')}}" class="link">Cliquez ici.</a>
        </p>
        <p class="float-right">
            Première Connexion? <a href="{{path('app_register')}}" class="link">Cliquez ici.</a>
        </p>
    </div>
</div>

{% endblock %}