{% extends 'layouts/base.html.twig' %}

{% block content %}

<!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
<section class="content">
    <!--============ Featured Ads ===========================================================================-->
    <section class="block">
        <div class="container">
            <h2>Offres Récentes</h2>
            <div class="items grid grid-xl-3-items grid-lg-3-items grid-md-2-items">
                {%for good in goods %}
                    <div class="item">
                        <div class="wrapper">
                            <div class="image">
                                <h3>
                                    <a href="#" class="tag category">{{good.getGoodCategory().libelle|u.truncate(30, '...')}}</a>
                                    <a href="{{path('show_good', {slug: good.slug})}}" class="title">{{good.getIntitule()|u.truncate(30, '...')}}</a>
                                    <span class="tag">{{good.getOffertype().libelle|u.truncate(60, '...')}}</span>
                                </h3>
                                <a href="{{path('show_good', {slug: good.slug})}}" class="image-wrapper background-image">
                                    {% if good.getOfferGaleries()|length > 0 %}
                                        <img src="{{asset('/uploads/galery/'~ good.getOfferGaleries()[0].path)}}" alt="">
                                    {% else %}
                                        <img src="{{asset('./assets/img/image-01.jpg')}}" alt="">
                                    {% endif %}
                                </a>
                            </div>
                            <!--end image-->
                            <h4 class="location">
                                <a href="#">{{good.getCity().name|u.truncate(60, '...')}}</a>
                            </h4>
                            <div class="price">{{good.getPrice()}}€</div>
                            <div class="meta">
                                <figure>
                                    <i class="fa fa-calendar-o"></i>{{good.createdAt|date("d/m/Y","Europe/Paris")}}
                                </figure>
                                <figure>
                                    <a href="#">
                                        <i class="fa fa-area-chart"></i>{{good.surface}}{{good.unit}}
                                    </a>
                                </figure>
                            </div>
                            <!--end meta-->
                            <div class="description">
                                <p>{{ good.getDescriptif()|u.truncate(30, '...')}}</p>
                            </div>
                            <!--end description-->
                            <a href="{{path('show_good', {slug: good.slug})}}" class="detail text-caps underline">Détails</a>
                        </div>
                    </div>
                {% endfor %}
                <!--end item-->


            </div>
        </div>
    </section>
    <!--============ End Featured Ads =======================================================================-->
    <!--============ Features Steps =========================================================================-->
    <section class="block text-justify">
        <div class="container">
            <div class="block">
                <h2 class="text-center">LE GROUPE</h2>
                <div class="row mb-5">
                    <!--end col-->
                    <div class="col-md-6">
                        <h3>Les engagements du groupe</h3>
                        <div class="box">
                            <p>
                            Examiner et traiter équitablement chaque candidature, publique ou privée ;
                            </p>
                            <p>
                                Fournir une information claire et transparente sur nos procédures, nos offres, nos choix, nos tarifs ;
                            </p>
                            <p>
                                Concilier les projets individuels avec les orientations politiques des territoires ;
                            </p>
                            <p>
                                Arbitrer les projets en s’appuyant sur notre expérience et notre expertise ;
                            </p>
                            <p>
                                Pérenniser les projets retenus en accompagnant les acteurs.
                            </p>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-md-6">
                        <h3>Nos valeurs</h3>
                        <div class="box">
                            <p>
                                Ce qui fait le lien entre toutes les Safer, ce sont surtout les valeurs et les principes d’actions partagés.
                            </p>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h3>Notre histoire</h3>
                        <div class="box">
                            <p>
                            Les Safer forment le groupe Safer avec la Fédération nationale des Safer (FNSafer) et le bureau d’études national Terres d’Europe-Scafr.<br>
                            Le groupe compte près de 1000 collaborateurs aujourd’hui.
                            </p>
                            <p>
                                Les Safer ont été créées par la loi d’orientation agricole du 5 août 1960. Leurs objectifs initiaux consistaient à réorganiser les exploitations agricoles, dans le cadre de la mise en place d’une agriculture plus productive, et à installer des jeunes.
                            </p>
                            <p>
                                Chargées de missions d’intérêt général, les Safer ne peuvent pas avoir de but lucratif (pas de distribution de bénéfices). Placées sous le contrôle des ministères de l’Agriculture et des Finances, leurs actions relèvent des tribunaux judiciaires (tribunaux de grandes instances, cours d’appel et Cour de cassation).
                            </p>
                            <p>
                                Les Safer développent toujours l’agriculture, mais elles protègent également l’environnement, les paysages, les ressources naturelles telles que l’eau et elles accompagnent les collectivités territoriales dans leurs projets fonciers.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Nos activités</h3>
                        <div class="box">
                            <p>
                            L’activité des Safer en quelques chiffres (2020)
                            </p>
                            <p>
                                11 200 biens ont été acquis par les Safer, pour une surface totale de 98 200 ha ;
                            </p>
                            <p>
                                Le marché foncier accessible aux Safer représente 432 000 ha. Les acquisitions des Safer représentent 23 % des surfaces accessibles ;
                            </p>
                            <p>
                                Les Safer ont exercé 1 240 préemptions en 2020, pour une surface de 5 400 ha et une valeur de 59 M€ (0,4 % du nombre total des projets de vente notifiés aux Safer). Ces préemptions représentent 11 % du nombre, 5 % de la surface et 4 % de la valeur de l’ensemble des acquisitions réalisées par les Safer ;
                            </p>
                            <p>
                                12 900 rétrocessions ont été réalisées par les Safer, pour une surface totale de 98 700 ha.
                            </p>
                        </div>
                        
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end block-->
        </div>
        <!--end container-->
        <div class="background" data-background-color="#f8f8f8" style="background-color: #f8f8f8;"></div>
        <!--end background-->
    </section>
    
    <section class="block">
        <div class="container">
            <div class="block">
                <h2>Pourquoi faire appel à la SAFER?</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="{{asset('./assets/icons/feature-user.png')}}" alt="">
                                <span>1</span>
                            </figure>
                            <h3>Bien à juste prix</h3>
                            <p>Pour acheter ou louer un bien à sa juste valeur.</p>
                        </div>
                        <!--end feature-box-->
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="{{asset('./assets/icons/feature-upload.png')}}" alt="">
                                <span>2</span>
                            </figure>
                            <h3>Expertise unique</h3>
                            <p>Pour bénéficier d’une expertise unique dans le domaine du foncier rural</p>
                        </div>
                        <!--end feature-box-->
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="{{asset('./assets/icons/feature-like.png')}}" alt="">
                                <span>3</span>
                            </figure>
                            <h3>Réalisation garantie</h3>
                            <p>Pour réaliser votre projet avec succès et sans encombre</p>
                        </div>
                        <!--end feature-box-->
                    </div>
                    <!--end col-->
                    <div class="col-md-3">
                        <div class="feature-box">
                            <figure>
                                <img src="{{asset('./assets/icons/feature-wallet.png')}}" alt="">
                                <span>4</span>
                            </figure>
                            <h3>Accompagnement de qualité</h3>
                            <p>Pour être accompagné jusqu’à la signature de l’acte</p>
                        </div>
                        <!--end feature-box-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end block-->
        </div>
        <!--end container-->
        <div class="background" data-background-color="#fff"></div>
        <!--end background-->
    </section>
    <!--end block-->
    <!--============ End Features Steps =====================================================================-->
    <!--============ Recent Ads =============================================================================-->
    <section class="block">
        <div class="container">
            <h2>Toutes nos offres de bien disponibles</h2>
            <div class="items grid grid-xl-4-items grid-lg-3-items grid-md-2-items">
                {%for good in allGoods %}
                    <div class="item">
                        <div class="wrapper">
                            <div class="image">
                                <h3>
                                    <a href="#" class="tag category">{{good.getGoodCategory().libelle|u.truncate(30, '...')}}</a>
                                    <a href="{{path('show_good', {slug: good.slug})}}" class="title">{{good.getIntitule()|u.truncate(30, '...')}}</a>
                                    <span class="tag">{{good.getOffertype().libelle|u.truncate(60, '...')}}</span>
                                </h3>
                                <a href="{{path('show_good', {slug: good.slug})}}" class="image-wrapper background-image">
                                    {% if good.getOfferGaleries()|length > 0 %}
                                        <img src="{{asset('/uploads/galery/'~ good.getOfferGaleries()[0].path)}}" alt="">
                                    {% else %}
                                        <img src="{{asset('./assets/img/image-01.jpg')}}" alt="">
                                    {% endif %}
                                </a>
                            </div>
                            <!--end image-->
                            <h4 class="location">
                                <a href="#">{{good.getCity().name|u.truncate(60, '...')}}</a>
                            </h4>
                            <div class="price">{{good.getPrice()}}€</div>
                            <div class="meta">
                                <figure>
                                    <i class="fa fa-calendar-o"></i>{{good.createdAt|date("d/m/Y","Europe/Paris")}}
                                </figure>
                                <figure>
                                    <a href="#">
                                        <i class="fa fa-area-chart"></i>{{good.surface}}{{good.unit}}
                                    </a>
                                </figure>
                            </div>
                            <!--end meta-->
                            <div class="description">
                                <p>{{ good.getDescriptif()|u.truncate(30, '...')}}</p>
                            </div>
                            <!--end description-->
                            <a href="{{path('show_good', {slug: good.slug})}}" class="detail text-caps underline">Détails</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="page-pagination">
                {{knp_pagination_render(allGoods)}}
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end block-->
    <!--============ End Recent Ads =========================================================================-->
    <!--end block-->
</section>
<!--end content-->
{% endblock  %}