 <div class="col-md-3">
    <nav class="nav flex-column side-nav">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-link icon" href="{{path('goods')}}">
                <i class="fa fa-heart"></i>Offres
            </a>
            <a class="nav-link icon" href="{{path('contacts')}}">
                <i class="fa fa-check"></i>Messages reçus
            </a>
            <a class="nav-link icon" href="{{path('app_news_letter')}}">
                <i class="fa fa-check"></i>Favoris envoyés
            </a>
            <a class="nav-link icon" href="{{ path('offer_types') }}">
                <i class="fa fa-check"></i>Types d'offre
            </a>
            <a class="nav-link icon" href="{{ path('good_types') }}">
                <i class="fa fa-check"></i>Catégories de bien
            </a>
            <a class="nav-link icon" href="{{ path('departments') }}">
                <i class="fa fa-check"></i>Départements
            </a>
            <a class="nav-link icon" href="{{ path('cities') }}">
                <i class="fa fa-check"></i>Villes
            </a>
            <a class="nav-link icon" href="{{ path('users') }}">
                <i class="fa fa-check"></i>Utilisateurs
            </a>
            <a class="nav-link icon" href="{{ path('profile') }}">
                <i class="fa fa-user"></i>Mon Profil
            </a>
            <a class="nav-link icon" href="#">
                <i class="fa fa-recycle"></i>Changement du mot de passe
            </a>
            <a class="nav-link icon" href="{{path('app_logout')}}">
                <i class="fa fa-sign-out"></i>Déconnexion
            </a>
        {% else %}
            <a class="nav-link icon" href="{{path('favs')}}">
                <i class="fa fa-star"></i>Mes favoris
            </a>
            <a class="nav-link icon" href="{{ path('profile') }}">
                <i class="fa fa-user"></i>Mon Profil
            </a>
            <a class="nav-link icon" href="#">
                <i class="fa fa-recycle"></i>Changement du mot de passe
            </a>
            <a class="nav-link icon" href="{{path('app_logout')}}">
                <i class="fa fa-sign-out"></i>Déconnexion
            </a>
        {% endif %}
    </nav>
</div>