 <div class="col-md-3">
    <nav class="nav flex-column side-nav">
        {% if is_granted('ROLE_USER') %}
            <a class="nav-link icon" href="{{path('goods')}}">
                <i class="fa fa-heart"></i>Mes offres
            </a>
        {% endif %}
        <a class="nav-link icon" href="#">
            <i class="fa fa-star"></i>Favoris
        </a>
        <a class="nav-link icon" href="#">
            <i class="fa fa-check"></i>Biens sous contrat
        </a>
        <a class="nav-link icon" href="{{ path('offer_types') }}">
            <i class="fa fa-check"></i>Types d'offre
        </a>
        <a class="nav-link icon" href="{{ path('good_types') }}">
            <i class="fa fa-check"></i>Catégories de bien
        </a>
        <a class="nav-link icon" href="{{ path('departments') }}">
            <i class="fa fa-check"></i>Départements
        </a>
        <a class="nav-link icon" href="{{ path('cities') }}">
            <i class="fa fa-check"></i>Villes
        </a>

        <a class="nav-link icon" href="{{ path('profile') }}">
            <i class="fa fa-user"></i>Mon Profil
        </a>
        <a class="nav-link icon" href="#">
            <i class="fa fa-recycle"></i>Changement du mot de passe
        </a>
        <a class="nav-link icon" href="{{path('app_logout')}}">
            <i class="fa fa-sign-out"></i>Déconnexion
        </a>
        
    </nav>
</div>