<!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
<footer class="footer">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <a href="#" class="brand">
                        <img src="{{asset('./assets/img/logo-real-estate.png')}}" alt="">
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet
                        fermentum sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                    </p>
                </div>
                <!--end col-md-5-->
                <div class="col-md-3">
                    <h2>Navigation</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <nav>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="{{path('home')}}">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="{{path('goods_by_cat', {slug: 'Terrain agricole'})}}">Terrain agricole</a>
                                    </li>
                                    <li>
                                        <a href="{{path('goods_by_cat', {slug: 'Prairie'})}}">Prairie</a>
                                    </li>
                                    <li>
                                        <a href="{{path('goods_by_cat', {slug: 'Bois'})}}">Bois</a>
                                    </li>
                                    <li>
                                        <a href="{{path('goods_by_cat', {slug: 'Bâtiments'})}}">Bâtiments</a>
                                    </li>
                                    <li>
                                        <a href="{{path('goods_by_cat', {slug: 'Exploitations'})}}">Exploitations</a>
                                    </li>
                                    <li>
                                        <a href="{{path('contact-us')}}">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <nav>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="{{path('app_login')}}">Connexion</a>
                                    </li>
                                    <li>
                                        <a href="{{path('app_register')}}">Inscription</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--end col-md-3-->
                <div class="col-md-4">
                    <h2>Contact</h2>
                    <address>
                        <figure>
                            91 rue du Faubourg Saint-Honoré<br>
                            Paris, 75008
                        </figure>
                        <br>
                        <strong>Email:</strong> <a href="mailto:info@safer.com">info@safer.com</a>
                        <br>
                        <strong>Skype: </strong> SaferImmo
                        <br>
                        <br>
                        <a href="{{path('contact-us')}}" class="btn btn-primary text-caps btn-framed">Nous contacter</a>
                    </address>
                </div>
                <!--end col-md-4-->
            </div>
            <!--end row-->
        </div>
        <div class="background">
            <div class="background-image original-size">
                <img src="{{asset('./assets/img/footer-background-icons.jpg')}}" alt="">
            </div>
            <!--end background-image-->
        </div>
        <!--end background-->
    </div>
</footer>
<!--end footer-->