<!--============ Hero Form ==========================================================================-->
<form class="hero-form form">
    <div class="container">
        <!--Main Form-->
        <div class="main-search-form">
            <div class="form-row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label for="category" class="col-form-label">Que cherchez-vous?</label>
                        <select name="category" id="category" data-placeholder="Choisir une catégorie de bien" data-enable-search="true">
                            <option value="">Catégorie de bien</option>
                            {% for category in categories %}
                                <option value="{{category.id}}">{{category.libelle}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--end form-group-->
                </div>
                <!--end col-md-3-->
               <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label for="offerType" class="col-form-label">Location ou Achat?</label>
                        <select name="offerType" id="offerType" data-placeholder="Choisir un type d'offre" data-enable-search="true">
                            <option value="">Type d'offre</option>
                            {% for offerType in offerTypes %}
                                <option value="{{offerType.id}}">{{offerType.libelle}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--end form-group-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label for="city" class="col-form-label">Dans quelle ville?</label>
                        <select name="city" id="city" data-placeholder="Choisir une ville" data-enable-search="true">
                            <option value="">Ville</option>
                            {% for city in cities %}
                                <option value="{{city.id}}">{{city.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--end form-group-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-3 col-sm-3">
                    <button type="submit" class="btn btn-primary width-100">Rechercher</button>
                </div>
                <!--end col-md-3-->
            </div>
            <!--end form-row-->
        </div>
        <!--end main-search-form-->
        <!--Alternative Form-->
        <div class="alternative-search-form">
            <a href="#collapseAlternativeSearchForm" class="icon" data-toggle="collapse"  aria-expanded="false" aria-controls="collapseAlternativeSearchForm"><i class="fa fa-plus"></i>Plus de critères</a>
            <div class="collapse" id="collapseAlternativeSearchForm">
                <div class="wrapper">
                    <div class="form-row">
                        <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 d-xs-grid d-flex align-items-center justify-content-between">
                            <label>
                                <input type="checkbox" name="new">
                               Récent
                            </label>
                            <label>
                                <input type="checkbox" name="old">
                                Ancien
                            </label>
                            <label>
                                <input type="checkbox" name="with_photo">
                                Avec photo
                            </label>
                        </div>
                        <!--end col-xl-5-->
                        <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12">
                            <div class="form-row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <input name="min_price" type="text" class="form-control small" id="min-price" placeholder="Prix minimal">
                                        <span class="input-group-addon small">€</span>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <input name="max_price" type="text" class="form-control small" id="max-price" placeholder="Prix maximal">
                                        <span class="input-group-addon small">€</span>
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-4-->
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <input name="keyword" type="text" class="form-control small" id="keyword" placeholder="Mots-clés">
                                    </div>
                                    <!--end form-group-->
                                </div>
                                <!--end col-md-3-->
                            </div>
                            <!--end form-row-->
                        </div>
                        <!--end col-xl-7-->
                    </div>
                    <!--end row-->
                </div>
                <!--end wrapper-->
            </div>
            <!--end collapse-->
        </div>
        <!--end alternative-search-form-->
    </div>
    <!--end container-->
</form>
<!--============ End Hero Form ======================================================================-->