{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %} <h1>Favoris envoyés</h1> {% endblock %}

{% block content %}
<!-- DataTable -->
<div class="col-md-9">
   {% include 'layouts/notifications.html.twig' %}
    <div class="clearfix">
        <div class="float-right">
            <div id="export_buttons" class=""></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                        <caption>Favoris envoyés</caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>ID des biens envoyés</th>
                                <th>Date d'envoi</th>
                                <th class="noExport">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for newLetter in newLetters %}
                                <tr>
                                    <td>{{newLetter.id}}</td>
                                    <td>{{newLetter.getUser().getEmail()}}</td>
                                    <td>
                                        {{newLetter.fav|join(',')}}
                                    </td>
                                    <td>{{newLetter.createdAt|date("d/m/Y à H:i:s","Europe/Paris")}}</td>
                                    <td class="text-center"> 
                                        <a class="ml-2" href="{{ path('favs_sent', {id: newLetter.id}) }}" data-toggle="tooltip" data-original-title="Consulter"><i class="fa fa-eye"></i></a>
                                        <a class="ml-2" href="{{ path('delete_newletter', {id: newLetter.id}) }}" data-toggle="tooltip" data-original-title="Supprimer"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>ID des biens envoyés</th>
                                <th>Date d'envoi</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- end: DataTable -->
{% endblock %}