{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %} <h1>Types d'offres proposés</h1> {% endblock %}

{% block content %}
<!-- DataTable -->
<div class="col-md-9">
    <div class="row mb-2">
        <div class="col-md-6 text-left">
            <button type="button" id="add-brochure" class="btn btn-primary btn-framed" onclick="javascript:location.href='{{path('add_offer_type')}}'"><i class="fa fa-plus"></i>Ajouter un type d'offre</button>
        </div>
        <div class="col-md-6 text-right">
            <div id="export_buttons" class=""></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                        <caption>Types d'offres proposés</caption>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Libellé</th>
                            <th>Créé le</th>
                            <th>Modifié le</th>
                            <th class="noExport">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for offer_type in offer_types %}
                                <tr>
                                    <td>{{offer_type.id}}</td>
                                    <td>{{offer_type.libelle}}</td>
                                    <td>{{offer_type.createdAt|date("d/m/Y à H:i:s","Europe/Paris")}}</td>
                                    {% if offer_type.updatedAt is null %}
                                        <td>{{"Non défini"}}</td>
                                    {% else %}
                                        <td>{{offer_type.updatedAt|date("d/m/Y à H:i:s","Europe/Paris")}}</td>
                                    {% endif %}
                                    <td> 
                                        <a class="ml-2" href="{{ path('edit_offer_type', {id: offer_type.id}) }}" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
                                        {# <a class="ml-2" href="#" data-toggle="tooltip" data-original-title="Visualiser"><i class="fa fa-eye"></i></a> #}
                                        <a class="ml-2" href="{{ path('delete_offer_type', {id: offer_type.id}) }}" data-toggle="tooltip" data-original-title="Supprimer"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Libellé</th>
                            <th>Créé le</th>
                            <th>Modifié le</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- end: DataTable -->
{% endblock %}