{% extends 'layouts/admin_base.html.twig' %}

{% block page_title %} <h1>Villes couvertes</h1> {% endblock %}

{% block content %}
<!-- DataTable -->
<div class="col-md-9">
   {% include 'layouts/notifications.html.twig' %}
    <div class="row mb-2">
        <div class="col-md-6 text-left">
            <button type="button" id="add-brochure" class="btn btn-primary btn-framed" onclick="javascript:location.href='{{path('add_city')}}'"><i class="fa fa-plus"></i>Ajouter une ville</button>
        </div>
        <div class="col-md-6 text-right">
            <div id="export_buttons" class=""></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                        <caption>Villes couvertes</caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Nombre de favoris</th>
                                <th>Département</th>
                                <th>Code postal</th>
                                <th>Créé le</th>
                                <th>Modifié le</th>
                                <th class="noExport">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for city in cities %}
                                <tr>
                                    <td>{{city.id}}</td>
                                    <td>{{city.name}}</td>
                                    <td>{{city.getFavNumber()}}</td>
                                    <td>{{city.getDepartment().name}}</td>
                                    <td>{{city.zipCode}}</td>
                                    <td>{{city.createdAt|date("d/m/Y à H:i:s","Europe/Paris")}}</td>
                                    {% if city.updatedAt is null %}
                                        <td>{{"Non défini"}}</td>
                                    {% else %}
                                        <td>{{city.updatedAt|date("d/m/Y à H:i:s","Europe/Paris")}}</td>
                                    {% endif %}
                                    <td> 
                                        <a class="ml-2" href="{{ path('edit_city', {id: city.id}) }}" data-toggle="tooltip" data-original-title="Modifier"><i class="fa fa-edit"></i></a>
                                        {% if city.getFavNumber() > 0 %}
                                            <a class="ml-2" href="{{ path('display_city_fav_goods', {id: city.id}) }}" data-toggle="tooltip" data-original-title="Visualiser les biens qui ont été mis en favori pour cette ville"><i class="fa fa-eye"></i></a>
                                        {% endif %}
                                        <a class="ml-2" href="{{ path('delete_city', {id: city.id}) }}" data-toggle="tooltip" data-original-title="Supprimer"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Nombre de biens favoris</th>
                                <th>Département</th>
                                <th>Code postal</th>
                                <th>Créé le</th>
                                <th>Modifié le</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    
<!-- end: DataTable -->
{% endblock %}